<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @catalog.name %>
</p>

<p>
  <b>Content:</b>
  <%= @catalog.content %>
</p>


<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'View all', catalogs_path %>
<br/>
<%= link_to 'New category', new_catalog_category_path(@catalog) %> |
<%= link_to 'List categories', catalog_categories_path(@catalog) %>
