<p id="notice"><%= notice %></p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>

<p>
  <b>Content:</b>
  <%= @review.content %>
</p>


<%= link_to 'Edit', edit_product_review_path(@review.product, @review) %> |
<%= link_to 'Back', product_reviews_path %>
